<%- include("partials/header") %>

        <h1 style="color: rgb(118, 202, 70);">Home</h1>
        <p><%= StartingContent %></p>

        <% if (journalPost.length > 0) { %>
            <hr>
            <% journalPost.forEach((post) => { %>
                <h1><%= post.title %></h1>
                <p>
                    <%= post.content.substring(0, 100) + " " %>
                    <% if (post.content.length > 100) { %>
                        <span> ...</span>
                    <% } %>
                    <a href="/posts/<%= post._id %>" style="margin-left: 8px;"> Read More</a>
                </p>
            <% }); %>
        <% }; %>

<%- include("partials/footer") %>